@model CollegeQuizWeb.Dto.Admin.AddUserDto
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Dodaj Administratora";
    Layout = "_AdminLayout";
}
<h1 class="text-muted px-2">Dodaj administratora</h1> 
<hr class="divider mt-0">

<div class="container" style="max-width:960px;">
    
    <form method="post" autocomplete="off" asp-controller="Admin" asp-action="AddAdmin">
        <partial name="_AddUserPartial"/>
    </form>
</div>

<script>
    document.getElementById('users_collapse').classList.add('show');
    document.getElementById('users_collapse_btn').setAttribute( 'aria-expanded', 'true' );
    document.getElementById('users_collapse_btn').setAttribute( 'style', 'color:white !important' );
    document.getElementById('addad').setAttribute( 'style', 'color:white !important' );
    </script>