@model CollegeQuizWeb.Dto.User.CouponDto

@{
    Layout= "_AdminLayout";
    ViewData["Title"] = "Dodawanie kuponów";
}
<h1 class="text-muted px-2">Dodawanie kuponów</h1> 
    <hr class="divider mt-0">

<div class="container" style="max-width:960px;">
    @if (ViewBag.GeneratedCouponsMessage != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @Html.Raw(ViewBag.GeneratedCouponsMessage)
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <form method="post" asp-controller="Admin" asp-action="AddCoupon">
        <div class="row mb-0">
            <div class="col-6 col-sm-4">
                <div class="form-floating ">
                    <input class="form-control" asp-for="Amount">
                    <label>Ilość kuponów</label>
                </div>
                <span asp-validation-for="Amount" class="mx-2 mt-1 errorTextColor"></span>
            </div>
            <div class="col-6 col-sm-4">
                <div class="form-floating">
                    <input class="form-control" id="ExpiringAt" asp-for="ExpiringAt">
                    <label>Ważne do</label>
                </div>
                <span asp-validation-for="ExpiringAt"  class="mx-2 mt-1 errorTextColor"></span>
            </div>
            <div class="col-6 col-sm-4">
                <div class="form-floating">
                    <input class="form-control" asp-for="ExtensionTime">
                    <label>Przedłuża subskrypcję o</label>
                </div>
                <span asp-validation-for="ExtensionTime" class="mx-2 mt-1 errorTextColor"></span>
            </div>

            <div class="col-6 col-sm-12">
                <div class="form-floating">
                    <select class="form-select" asp-for="TypeOfSubscription">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                    </select>
                    <label for="couponType" class="ms-1">Rodzaj kuponu</label>
                </div>
                <span asp-validation-for="TypeOfSubscription" class="mx-2 mt-1 errorTextColor"></span>
            </div>
            <div class="col-6 col-sm-12">
                <div class="form-floating">
                    <input type="text" class="form-control" maxlength="80" asp-for="CustomerName">
                    <label>Odbiorca</label>
                </div>
            </div>
        </div>
        <div class="row p-2 mt-3">
            <button class="btn btn-lg btn-primary w-100" name="couponSubmit" type="submit">Dodaj</button>
        </div>

    </form>
</div>



<script>
    document.getElementById('coupon_collapse').classList.add('show');
    document.getElementById('coupon_collapse_btn').setAttribute( 'aria-expanded', 'true' );
    document.getElementById('coupon_collapse_btn').setAttribute( 'style', 'color:white !important' );
    document.getElementById('addcp').setAttribute( 'style', 'color:white !important' );
    //TODO: poprawić errora
    //ExpiringAt.min = new Date().toISOString().split(".")[0];

</script>