@model dynamic

@{
    Layout= "_AdminLayout";
    ViewData["Title"] = "Dodawanie kuponów";
}
<h1 class="text-muted px-2">Dodawanie kuponów</h1> 
    <hr class="divider mt-0">

    <div class="container" style="max-width:960px;">
        <form method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-floating ">
                        <input class="form-control" id="numOfCoupons" type="number" value="1" placeholder="a">
                        <label for="numOfCoupons">Ilość kuponów</label>
                    </div>    
                    <span class="mx-2 mt-1 errorTextColor"></span>
                </div>
            <div class="col-6">
                <div class="form-floating">
                    <input class="form-control" id="couponDate" type="date">
                    <label >Ważne do</label>
                </div>    
                <span class="mx-2 mt-1 errorTextColor"></span>
            </div>
            </div>
            <div class="row">
                <div class="form-floating">
                    <select class="form-select" id="couponType" aria-label="Floating label select example">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                    </select>
                    <label for="couponType" class="ms-1">Rodzaj kuponu</label>
                </div>
            </div>
            <div class="row p-2">
                <button class="btn btn-lg btn-primary w-100" name="loginSubmit" type="submit">Dodaj</button>
            </div>
            
        </form>
    </div>



<script>
    document.getElementById('coupon_collapse').classList.add('show');
    document.getElementById('coupon_collapse_btn').setAttribute( 'aria-expanded', 'true' );
    document.getElementById('coupon_collapse_btn').setAttribute( 'style', 'color:white !important' );
    document.getElementById('addcp').setAttribute( 'style', 'color:white !important' );
    
    couponDate.min = new Date().toISOString().split("T")[0];

</script>