@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<CollegeQuizWeb.Dto.Admin.CouponListDto,IEnumerable<CollegeQuizWeb.Dto.User.CouponDto>>

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Lista kuponów";
}


<form method="post" asp-controller="Admin" asp-action="CouponList">

    <input type="hidden" id="oneElement" asp-for="Item1.OneElement"/>
    <input type="hidden" id="manyElements" asp-for="Item1.ManyElements"/>
    <button type="submit" hidden="hidden" id="deleteButtonHidden"></button>
</form>

<h1 class="text-muted px-3">Lista kuponów</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <nav aria-label="Buttons">
                <ul class="pagination justify-content-start">
                    <li class="page-item me-2">
                        <button class="btn btn-lg btn-dark w-100" style="font-size: 17px" id="allButton" onclick="filterButtonClick(1)" type="submit">Wszystkie</button>
                    </li>
                    <li class="page-item me-2">
                        <button class="btn btn-lg btn-secondary w-100" style="font-size: 17px" id="activeButton" onclick="filterButtonClick(2)" type="submit">Aktywne</button>
                    </li>
                    <li class="page-item me-2">
                        <button class="btn btn-lg btn-secondary w-100" style="font-size: 17px" id="archiveButton" onclick="filterButtonClick(3)" type="submit">Archiwalne</button>
                    </li>
                    <li class="page-item me-2">
                        <a class="btn btn-lg btn-warning justify-content-center mx-0 " style="font-size: 17px" type="button" data-bs-toggle="tooltip" 
                            data-bs-placement="top" data-bs-title="Pobierz plik .txt" onclick="getAllSelectedCoupons()">
                            <i class="bi bi-printer-fill"></i>
                        </a>
                    </li>
                    <li class="page-item me-2">
                        <a class="btn btn-lg btn-danger justify-content-center mx-0" style="font-size: 17px" type="button" data-bs-toggle="tooltip" 
                        data-bs-placement="top" data-bs-title="Usuń zaznaczone" onclick="deleteButtonClicked()">
                            <i class="bi bi-trash"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <hr class="dropdown-divider m-0"></hr>
        <div class="row mt-3">
            <div class="col">
                <nav aria-label="Site Pagination">
                    <ul class="pagination justify-content-end">
                        <li class="page-item me-2">
                            <select class="form-select justify-content-end" id="couponsPerPagePag" onchange="couponsPerPageChange()">
                                <option value="10">10</option>
                                <option value="25" selected="selected">25</option>
                                <option value="100">100</option>
                                <option value="500">500</option>
                            </select>
                        </li>
                        <li class="page-item">
                            <button class="page-link" onclick="goToFirstPage()">
                                <i class="bi bi-caret-left-fill"></i>
                            </button>
                        </li>
                        <li class="page-item">
                            <button class="page-link" onclick="prevPage()">
                                <i class="bi bi-arrow-left"></i>
                            </button>
                        </li>
                        <li class="page-item" style="width: 75px">
                            <input type="text" class="page-link" name="pagination123" id="pagination123" onchange="changePageInput(this)" style="width: 75px" value="1">
                        </li>
                        <li class="page-item" style="width: 75px">
                            <label class="page-link" id="pagination321" style="width: 75px">z 1</label>
                        </li>
                        <li class="page-item">
                            <button class="page-link" onclick="nextPage()">
                                <i class="bi bi-arrow-right"></i>
                            </button>
                        </li>
                        <li class="page-item">
                            <button class="page-link" onclick="goToLastPage()">
                                <i class="bi bi-caret-right-fill"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    @if (Model.Item2.FirstOrDefault() != null)
    {
        <div id="renderTable"></div>
    }
    else
    {
        <h2>Brak kuponów</h2>
    }
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    @{
        var couponList = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Item2));
    }
    $(document).ready(function (){
        allList();
        });
    
    $('#pagination123').keypress(function(e) {
        let a = [];
        let k = e.which;
    
        for (i = 48; i < 58; i++)
            a.push(i);
    
        if (!(a.indexOf(k)>=0))
            e.preventDefault();
    });
    
    $('#pagination123').on("cut copy paste",function(e) {
          e.preventDefault();
       });
    
    function confirmFormSubmit(){
        let temp = document.getElementById('deleteButtonHidden');
        temp.click();
    }
    
    function deleteButtonClicked(){
        let itemsToDelete = selectedCouponsList.join();
        let manyCoupons = document.getElementById('manyElements');
        manyCoupons.value = itemsToDelete;
        confirmFormSubmit();
    }
    
    function changePageInput(obj){
        if (parseInt(obj.value)>parseInt(maxPage))
            obj.value = maxPage;
        page = obj.value;
        redirectToProperList();
    }
    
    let couponList = @(couponList);
    let selectedCouponsList = [];
    let page = 1;
    let recordsPerPage = 25;
    let chosenFilter = 1;
    let maxPage = 1;
    
    // https://stackoverflow.com/questions/2116558/fastest-method-to-replace-all-instances-of-a-character-in-a-string
    String.prototype.replaceAll = function(str1, str2, ignore) 
    {
        return this.replace(new RegExp(str1.replace(/([\/\,\!\\\^\$\{\}\[\]\(\)\.\*\+\?\|\<\>\-\&])/g,"\\$&"),
        (ignore?"gi":"g")),(typeof(str2)=="string")?str2.replace(/\$/g,"$$$$"):str2);
    } 
    
    function couponsPerPageChange(){
        recordsPerPage = parseInt(document.getElementById('couponsPerPagePag').value);
        page = 1;
        redirectToProperList();
    }
    
    function filterButtonClick(option){
        page = 1;
        document.getElementById('pagination123').value = 1;    
        selectedCouponsList = [];
        switch (option){
            case 1:             
                allList();
                break;
            case 2:
                activeList();
                break;
            case 3:
                archiveList();
                break;
        }
    }
    
    function archiveList(){
        document.getElementById('pagination123').value = page;
        document.getElementById('allButton').className = "btn btn-lg btn-secondary w-100";
        document.getElementById('activeButton').className = "btn btn-lg btn-secondary w-100";
        document.getElementById('archiveButton').className = "btn btn-lg btn-dark w-100";
        chosenFilter = 3;
        let filteredCouponList = couponList.filter(obj => obj.IsUsed == 1);
        let filteredCouponList2 = [];
        let currentDate = new Date();
        couponList.forEach(obj=> {
            if (currentDate>new Date(obj.ExpiringAt) && !filteredCouponList.includes(obj)){
                filteredCouponList.push(obj);
                }
        });
        let initialLength = filteredCouponList.length;
        for (var i=page*recordsPerPage-recordsPerPage; i<page*recordsPerPage+recordsPerPage-recordsPerPage; i++){
            if (filteredCouponList[i] != null)
                filteredCouponList2.push(filteredCouponList[i]);
        }    
        generateListHTML(filteredCouponList2, initialLength);
    }
    
    function activeList(){  
        document.getElementById('pagination123').value = page;
        document.getElementById('allButton').className = "btn btn-lg btn-secondary w-100";
        document.getElementById('activeButton').className = "btn btn-lg btn-dark w-100";
        document.getElementById('archiveButton').className = "btn btn-lg btn-secondary w-100";
        chosenFilter = 2;
        let filteredCouponList = couponList.filter(obj => obj.IsUsed == 0);
        let filteredCouponList2 = [];
        let filteredCouponList3 = [];
        let currentDate = new Date();
        filteredCouponList.forEach(obj=> {
            if (currentDate<=new Date(obj.ExpiringAt))
                filteredCouponList2.push(obj);
        });
        let initialLength = filteredCouponList2.length;
        for (var i=page*recordsPerPage-recordsPerPage; i<page*recordsPerPage+recordsPerPage-recordsPerPage; i++){
            if (filteredCouponList2[i] != null)
                filteredCouponList3.push(filteredCouponList2[i]);
        }
        generateListHTML(filteredCouponList3, initialLength);
    }
    
    function allList(){ 
        document.getElementById('pagination123').value = page;
        document.getElementById('allButton').className = "btn btn-lg btn-dark w-100";  
        document.getElementById('activeButton').className = "btn btn-lg btn-secondary w-100";
        document.getElementById('archiveButton').className = "btn btn-lg btn-secondary w-100";
        chosenFilter = 1;
        let filteredCouponList = [];
        let initialLength = couponList.length;
        for (var i=page*recordsPerPage-recordsPerPage; i<page*recordsPerPage+recordsPerPage-recordsPerPage; i++){
            if (couponList[i] != null)
                filteredCouponList.push(couponList[i]);
        }
        generateListHTML(filteredCouponList, initialLength);
    }
    
    function generateListHTML(couponListLoc, initialLength){
        $("[data-toggle=\"tooltip\"]").tooltip();
        let numberOfPages = parseInt(initialLength/recordsPerPage);
        if(initialLength%recordsPerPage !== 0)
            numberOfPages++;
        if (isNaN(numberOfPages))
            numberOfPages = 1;
        let innerTextVal =`z ${numberOfPages}`;
        maxPage = numberOfPages;
        document.getElementById('pagination321').innerText = innerTextVal;
        let currentDate = new Date();                 
        let html = `<table class="table text-center">
            <thead>
            <tr>
            <th><input class="form-check-input" onclick="allCheckboxClicked(this)" type="checkbox" value=""></th>
            <th>Poziom subskrypcji</th>
            <th>Data i godzina wygaśnięcia</th>
            <th>Ilość dni przedłużenia</th>
            <th class="d-none d-xl-table-cell">Kupon</th>
            <th></th>
            </tr>
            </thead>
            <tbody>`;
        couponListLoc.forEach(obj => {
            let temp = obj.ExpiringAt;
            temp = temp.replaceAll("T"," ");
            html+=`<tr class='tabrow'>
            <td><input class="form-check-input" name="couponCheckboxes" onclick="checkboxClicked(this)" type="checkbox" value=""></td>
            <td>${obj.TypeOfSubscription}</td>
            <td>${temp}</td>
            <td>${obj.ExtensionTime}</td>
            <td class="couponVal d-none d-xl-table-cell">${obj.Coupon}</td>`
            if (currentDate.getTime()<=new Date(obj.ExpiringAt).getTime()){
                html+= `<td class="fit">
                            <a class="btn btn-sm btn-dark" type="button" data-bs-toggle="tooltip" data-bs-placement="left" 
                             data-bs-title="Kopiuj do schowka" onclick="copyToClipBoardButtonClick(this)"><i class="bi bi-clipboard"></i></a>
                            <a class="btn btn-sm btn-danger" type="button" data-bs-toggle="tooltip" data-bs-placement="top" 
                            data-bs-title="Usuń kupon" onclick="deleteCoupon(this)"><i class="bi bi-trash"></i></a>
                        </td>`
            }else{
                html+= `<td>
                           <a class="btn btn-sm btn-info"><i class="bi bi-slash-circle"></i></a>
                           <a class="btn btn-sm btn-info"><i class="bi bi-slash-circle"></i></a>
                       </td>`
            }           
            html+=`</tr>`;
        });             
        html+=`</tbody>
        </table>`;
        document.getElementById('renderTable').innerHTML = html;
        reCheckboxes();
    }
    
    function deleteCoupon(obj){
        let row = $(obj).parent().parent();
        let value = row.find('.couponVal').text();
        let singleCoupon = document.getElementById('oneElement');
        singleCoupon.value = value;
        confirmFormSubmit();
    }

    function copyToClipBoardButtonClick(obj)
    {
        let row = $(obj).parent().parent();
        let valueToCopy = row.find('.couponVal').text();
        navigator.clipboard.writeText(valueToCopy);
        let message = `Skopiowano kod ${valueToCopy} do schowka.`;
        toastr.success(message);
    }
    
    function allCheckboxClicked(obj){
        let listOfCheckboxes = document.getElementsByName('couponCheckboxes');
        if (obj.checked === true){        
            listOfCheckboxes.forEach(x =>{
                if (x.checked === false)
                    x.click();
            });
        }else{
            listOfCheckboxes.forEach(x =>{
                if (x.checked === true)
                    x.click();    
            });
        }
    }
    
    
    function checkboxClicked(obj){
        let row = $(obj).parent().parent();
        let valueToCopy = row.find('.couponVal').text();
        if (obj.checked){
            if(!selectedCouponsList.includes(valueToCopy))
                selectedCouponsList.push(valueToCopy);
        }
        else{
            selectedCouponsList = selectedCouponsList.filter(s => s != valueToCopy);
        }
    }
    
    function getAllSelectedCoupons(){
        let stringOfCoupons = selectedCouponsList.toString();
        stringOfCoupons = stringOfCoupons.replaceAll(",","\n");
        FileSave(stringOfCoupons, "Coupons.txt");
        let message = `Wygenerowano plik z kuponami.`;
        toastr.success(message);
    }
    
    function nextPage(){
        if (page<maxPage){
            page++;
            redirectToProperList();
        }     
    }
    
    function prevPage(){
        if (page>1){
            page--;
            redirectToProperList();
        } 
    }
    
    function redirectToProperList(){
        switch(chosenFilter){
            case 1: 
                allList();
                break;
            case 2: 
                activeList();
                break;    
            case 3: 
                archiveList();
                break; 
        }
    }
    
    function goToFirstPage(){
        page = 1;
        redirectToProperList();
    }
    
    function goToLastPage(){
        page = maxPage;
        redirectToProperList();
    }
    
    function reCheckboxes(){
        let listOfCheckboxes = document.getElementsByName('couponCheckboxes');
        listOfCheckboxes.forEach(x => {
            row = $(x).parent().parent();
            let valueOfCheckboxsCoupon = row.find('.couponVal').text();
            if (selectedCouponsList.includes(valueOfCheckboxsCoupon))
                x.checked = true;
        });
    }
    
    //https://stackoverflow.com/questions/13405129/create-and-save-a-file-with-javascript
    function FileSave(sourceText, fileIdentity) {
        let workElement = document.createElement("a");
        if ('download' in workElement) {
            workElement.href = "data:" + 'text/plain' + "charset=utf-8," + escape(sourceText);
            workElement.setAttribute("download", fileIdentity);
            document.body.appendChild(workElement);
            let eventMouse = document.createEvent("MouseEvents");
            eventMouse.initMouseEvent("click", true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
            workElement.dispatchEvent(eventMouse);
            document.body.removeChild(workElement);
        } else throw 'File saving not supported for this browser';
    }
    
</script>
<noscript>Sorry, your browser does not support JavaScript!</noscript>