@model CollegeQuizWeb.Dto.Admin.AddUserDto
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using CollegeQuizWeb.Utils
@using Microsoft.AspNetCore.Http
@using CollegeQuizWeb.Dto.Admin
@{
    ViewBag.Title = "Edytuj użytkownika";
    Layout = "_AdminLayout";
}
<h1 class="text-muted px-2">Edytuj użytkownika</h1> 
<hr class="divider mt-0">

<div class="container" style="max-width:960px;">
    
    <form method="post" autocomplete="off" asp-controller="Admin" asp-action="EditUser">
        <input type="hidden" class="form-control" id="Id" asp-for="Id" placeholder="a">
        <div class="row m-2">
            <div class="col-12 ">
                <div class="row m-2">

                    <div class="col-6">
                        <div class="forms-inputs">
                            <div class="form-floating ">
                                <input type="text" class="form-control" id="FirstName" asp-for="FirstName" placeholder="a">
                                <label for="FirstName">Imię</label>
                            </div>
                            <span class="mx-2 mt-1 errorTextColor" asp-validation-for="FirstName"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="forms-inputs">
                            <div class="form-floating ">
                                <input type="text" class="form-control" id="LastName" asp-for="LastName" placeholder="a">
                                <label for="LastName">Nazwisko</label>
                            </div>
                            <span class="mx-2 mt-1 errorTextColor" asp-validation-for="LastName"></span>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-12">
                        <div class="forms-inputs">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="Email" asp-for="Email" placeholder="a">
                                <label for="Email">Email</label>
                            </div>
                            <span class="mx-2 mt-1 errorTextColor" asp-validation-for="Email"></span>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-12">
                        <div class="forms-inputs">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="Username" asp-for="Username" placeholder="a">
                                <label for="Username">Login</label>
                            </div>
                            <span class="mx-2 mt-1 errorTextColor" asp-validation-for="Username"></span>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-12">
                        <div class="forms-inputs">
                            <div class="form-floating ">
                                <input type="text" class="form-control" asp-for="Password" placeholder="a">
                                <label for="Password">Hasło</label>
                            </div>
                            <span class="mx-2 mt-1 errorTextColor" asp-validation-for="Password"></span>
                        </div>
                    </div>
                    <label style="color:darkgray; margin-top:3px">*W przypadku pozostawienia pola hasła hasło zostanie niezmienione</label>
                </div>
                @if (Context.Session.GetString(SessionKey.IS_USER_LOGGED) != @Model.Username)
                {
                    <div class="row m-2">
                        <div class="col-12">
                            <div class="form-check form-switch">
                                <label class="form-check-label"
                                       style="margin-top: 5px; margin-left: 10px; font-weight: bold; font-size:18px"
                                       for="IsAdmin">Administrator</label>
                                <input class="form-check-input" style="height:30px; width:60px;" type="checkbox"
                                       id="IsAdmin" asp-for="IsAdmin">
                            </div>
                        </div>
                    </div>
                }
                <div class="row m-2">
                    <div class="float-end">
                        <button type="submit" class="btn btn-primary btn-lg float-end" name="senduser">Aktualizuj</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById('users_collapse').classList.add('show');
    document.getElementById('users_collapse_btn').setAttribute( 'aria-expanded', 'true' );
    document.getElementById('users_collapse_btn').setAttribute( 'style', 'color:white !important' );
    document.getElementById('users_list').setAttribute( 'style', 'color:white !important' );
    </script>