

@{
    Layout= "_AdminLayout";
    ViewData["Title"] = "Panel administratora";
}


<div class="container-fluid">
    @if (ViewBag.userNotExist!=null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @ViewBag.userNotExist
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row">
        <div class="col-12 col-sm-6 col-xl-4 mb-3">
            <div class="card main-card custom-card-1 text-white mb-3">
                <div class="card-header">Administratorzy</div>
                <div class="card-body">
                    <h5 class="card-title">Liczba czy coś</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 mb-3">
            <div class="card main-card custom-card-2 text-white mb-3">
                <div class="card-header">Użytkownicy</div>
                <div class="card-body">
                    <h5 class="card-title">Liczba czy coś</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    document.getElementById('gotoadmain').setAttribute( 'style', 'color:white !important' );
</script>