<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-10">
            <div class="card px-3 py-3">
                <h3>Podane logo jest logo</h3>
                <img src="~/qrCodeLogo.png" width="300px" height="300px">
            </div>
            <div class="row d-flex mt-3 px-3">
                <div class="col-6 d-flex m-0">
                    <div class="card bg-dark text-white card-img-custom">
                        <img src="~/gfx/blueCard.svg" class="card-img" alt="image_answer_A">
                        <div class="card-body card-img-overlay d-flex flex-column align-items-center justify-content-center">
                            <h5 class="card-title ">Odpowiedź A</h5>
                            <p class="card-text">This is a wider card with supportina little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-flex m-0">
                    <div class="card bg-dark text-white card-img-custom">
                        <img src="~/gfx/greenCard.svg" class="card-img" alt="image_answer_B">
                        <div class="card-body card-img-overlay d-flex flex-column align-items-center justify-content-center">
                            <h5 class="card-title text-center">Odpowiedź B</h5>
                            <p class="card-text text-center">This is a wider card with supporting text a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex mt-3 px-3">
                <div class="col-6 d-flex m-0">
                    <div class="card bg-dark text-white card-img-custom">
                        <img src="~/gfx/darkblueCard.svg" class="card-img" alt="image_answer_C">
                        <div class="card-body card-img-overlay d-flex flex-column align-items-center justify-content-center">
                            <h5 class="card-title ">Odpowiedź C</h5>
                            <p class="card-text">This is a wider card with supportina little bit longer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-flex m-0">
                    <div class="card bg-dark text-white card-img-custom">
                        <img src="~/gfx/tealCard.svg" class="card-img" alt="image_answer_D">
                        <div class="card-body card-img-overlay d-flex flex-column align-items-center justify-content-center">
                            <h5 class="card-title text-center">Odpowiedź D</h5>
                            <p class="card-text text-center">This is a wider card with supporting text a little bit longer.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>