@{
    ViewData["Title"] = "Help";
}
<script src="https://cdn.jsdelivr.net/npm/react-vertical-timeline-component@3.6.0/dist-modules/index.min.js"></script>

<VerticalTimeLine>
    <TimelineItem key="001" dateText="Tworzenie konta" style="background-color: #0c4128">
         <h3>Zarejestruj się klikając przycisk "Rejestracja" w prawym górnym rogu strony, a następnie wypełnij puste miejsca, zaznacz akceptację regulaminu i kliknij przycisk "Rejestracja" na dole.</h3>
            <h4>Subtitle1</h4>
            <p>
              1
            </p>
    </TimelineItem>
</VerticalTimeLine>