@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p class="h1 mx-auto">STWÓRZ SWÓJ PIERWSZY QUIZ!</p>
    <a class="btn click-me mx-auto mt-5" asp-area="" asp-controller="Home"  role="button">TUTAJ!</a>
</div>

