@{
    ViewData["Title"] = "Polityka prywatności Quizazu";
}
<div class="card">
    <div class="m-3 ">
        <div class="row" style="color: #19452e">
            <h1> Polityka prywatności Quizazu</h1>
            <p>
            Quizazu szanuje prywatność użytkowników swojej strony internetowej. W związku z tym, chcielibyśmy przedstawić 
            naszą politykę prywatności w celu zapewnienia pełnej przejrzystości i ochrony danych osobowych naszych użytkowników.
            <p>

            <h3>Zasady ogólne przetwarzania danych osobowych</h3>
            <h5>Przechowywanie danych</h5>
            <p>
                Quizazu przechowuje dane dotyczące adresów email, kont logowania do serwisu oraz wyników quizów, 
                które użytkownicy ukończyli. Dane te są przechowywane w celu zapewnienia najlepszych usług quizowych 
                dla użytkowników i w celach statystycznych. Nie będziemy udostępniać żadnych danych osobowych użytkowników 
                stronom trzecim bez ich zgody.
            </p>
            
            <center><hr class="hr-mid-green"/></center>
            <h5>Wykorzystanie cookies</h5>
            <p>Quizazu używa cookies w celu ulepszania funkcjonalności naszej strony internetowej i analizowania 
                zachowań użytkowników. Cookies pozwalają nam zapamiętywać preferencje użytkowników i personalizować 
                ich doświadczenie na naszej stronie. Użytkownicy mogą zablokować pliki cookies w swojej przeglądarce, 
                jednak może to wpłynąć na działanie niektórych funkcji naszej strony.
            </p>
            
            <center><hr class="hr-mid-green"/></center>
            <h5>Bezpieczeństwo</h5>
            <p>Quizazu stosuje wszelkie niezbędne środki bezpieczeństwa, takie jak szyfrowanie, w celu ochrony danych osobowych 
                naszych użytkowników przed nieautoryzowanym dostępem lub ujawnieniem. Ponadto, Quizazu regularnie przegląda 
                swoje procedury bezpieczeństwa i wdraża nowe metody ochrony danych osobowych. </p>
            
            <center><hr class="hr-mid-green"/></center>
            <h5>Usuwanie danych</h5>
            <p>Użytkownicy Quizazu mają prawo do usunięcia swoich danych osobowych z naszej bazy danych. 
                W tym celu należy skontaktować się z nami za pomocą adresu email: info@quizazu.com.
            </p>
            
            <center><hr class="hr-mid-green"/></center>
            <h5>Zmiany w polityce prywatności</h5>
            <p>Quizazu zastrzega sobie prawo do zmiany polityki prywatności w dowolnym momencie. Wszelkie zmiany zostaną 
                opublikowane na naszej stronie internetowej, a użytkownicy będą poinformowani o tych zmianach 
                drogą elektroniczną lub na naszej stronie internetowej. W razie jakichkolwiek pytań lub wątpliwości 
                dotyczących naszej polityki prywatności, prosimy o kontakt z nami za pomocą adresu email: info@quizazu.com.
            </p>
            
        </div>
    </div>
</div>