@{
    ViewData["Title"] = "Polityka prywatności";
}
<div class="card">
    <div class="m-3 ">
        <div class="row" style="color: #19452e">
            <h1>@ViewData["Title"]</h1>
            <p> Przykładowa polityka prywatności (źródło x-kom: https://www.x-kom.pl/polityka-prywatnosci)</p>
            
            <h3>Zasady ogólne przetwarzania danych osobowych</h3>
            <h5>Gdzie przechowujemy Twoje dane?</h5>
            <p>
                Twoje dane osobowe przechowujemy na terenie Europejskiego Obszaru Gospodarczego
                („EOG”), lecz w myśl przepisów RODO mogą być one przesyłane także do kraju spoza tego
                obszaru i tam przetwarzane. Każda operacja przesyłania danych osobowych jest wykonywana
                zgodnie z obowiązującym prawem. Jeśli przekazujemy dane poza obszar EOG, jako
                współadministrator, stosujemy Standardowe klauzule umowne oraz Tarczę prywatności. Są to
                środki zabezpieczające w odniesieniu do krajów, w przypadku których Komisja Europejska nie
                stwierdziła odpowiedniego poziomu ochrony danych.
            </p>
            
            <center><hr class="hr-mid-green"/></center>
            
            <h5>Kto ma dostęp do Twoich danych?</h5>
            <p>Twoje dane mogą być udostępniane jedynie w ramach podmiotów wchodzących w skład
                    współadministrowania. </p>
            <p>Oznacza to, że nigdy nie przekazujemy Twoich danych, nie sprzedajemy ich, ani nie
                    wymieniamy z innymi podmiotami w celach marketingowych. </p>
            <p>W niektórych przypadkach Twoje dane przekazujemy wybranym podmiotom zewnętrznym.
                    Czynimy to jedynie w ramach realizacji usług, które zostały przez nas zdefiniowane i w
                    zakresie, jaki obejmują podpisane przez nas umowy powierzenia przetwarzania. Szczegółowe
                    informacje na temat kategorii podmiotów zewnętrznych znajdziesz niżej. </p>
            
            <center><hr class="hr-mid-green"/></center>
            
            <h5>Jakie są podstawy prawne przetwarzania danych? </h5>
            <p>Przetwarzamy Twoje dane osobowe na mocy zawartej umowy, której wzorzec znajdziesz
                    Regulaminie. Twoje dane przetwarzamy tylko w takim zakresie, jaki jest potrzebny do
                    właściwej realizacji świadczonej dla Ciebie usługi. </p>
            <p>W niektórych przypadkach, na przykład lepszego dopasowania działania usług do Twoich
                    potrzeb, możemy poprosić Cię o podanie dodatkowych danych. Wyrażenie zgody jest
                    oczywiście dobrowolne, a wszystkie wyrażone zgody możesz odwołać. </p>
            
            <center><hr class="hr-mid-green"/></center>
            
            <h5>Uaktualnienia zasad naszej Polityki prywatności:</h5>
            <p>W przyszłości może zajść konieczność aktualizacji Polityki prywatności. Jej najnowsza wersja
                    będzie zawsze dostępna na naszej stronie internetowej w zakładce Polityka prywatności.
                    Poinformujemy Cię tam o każdej zmianie Polityki prywatności. Na przykład celu, w jakim
                    korzystamy z Twoich danych osobowych, tożsamości Inspektora Ochrony Danych Osobowych
                    lub Twoich praw. </p>
        </div>
    </div>
</div>