@{
    ViewData["Title"] = "Rules and regulations";
}

<h1>Privacy Policy</h1>
<p>Use this page to detail your site's privacy policy.</p>

<p>
    The Personal Information we process depends on the context of your interactions with Kahoot!, your Kahoot! account
    settings, the products and features you use, your location, and applicable law. However, the Personal Information
    we collect broadly falls into the following categories:
</p>

<ul>
    <li>
        Such as your name, e-mail address, mailing address, telephone number and job title of the contact person of
        Users (for example businesses or educational institutions)
    </li>
    <li>
        Account log-in credentials such as your email address or username and password when you sign up for an account
        with us;
    </li>
    <li>
        Account holder information such as your location (city and country only), interests, picture, organization,
        title/position, age, what Kahoot! groups you are part of and who you interact with by using the Services.
    </li>
    <li>
        Troubleshooting and support data, which is data you provide, or we otherwise collect in connection with support
        queries we receive from you. This may include contact or authentication data, the content of your chats and
        other communications with us, and the product or service you are using related to your help inquiry; and
    </li>
    <li>
        Payment information and other financial information that we/our payment processors need in order to provide
        the Services.
    </li>
    <li>
        Browser or device information which is collected through your device, such as Media Access Control (MAC)
        address, computer type (Windows or Macintosh), screen resolution, operating system name and version, device
        manufacturer and model, language, internet browser type and version and version of the Services
        (such as the App) you are using.
    </li>
</ul>
