<div class="container mt-2 mb-1">
    <div class="row mt-2 d-flex" style="padding-left: 70px; padding-right: 70px">
        <div class="col-12 col-md-6">
            <div class="card px-3 py-3" style="min-height: 65vh">
                <div class="card-body">
                    <h3>Ten pakiet umożliwi Ci dostęp do rozpoczynania quziów z następującymi typami pytań:</h3>
                    <br/>
                    <h5>*Prawda/fałsz</h5>
                </div>
                <a asp-route-id="1" asp-action="Subscription" asp-controller="Home" class="m-0 p-0 text-decoration-none">
                    <div class="card-footer btn-color-one d-flex justify-content-center m-auto" >
                        <p style="margin-top: 4px;">Przejdź do zakupu pakietu</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card px-3 py-3 h-100">
                <div class="card-body">
                    <h3>Ten pakiet umożliwi Ci dostęp do rozpoczynania quziów z następującymi typami pytań:</h3>
                    <br/>
                    <h5>*Sześć możliwych odpowiedzi</h5>
                    <h5>*Wiele odpowiedzi w obrębie pytania</h5>
                </div>
                <a asp-route-id="2" asp-action="Subscription" asp-controller="Home" class="m-0 p-0 text-decoration-none">
                    <div class="card-footer btn-color-one d-flex justify-content-center m-auto" >
                        <p style="margin-top: 4px;">Przejdź do zakupu pakietu</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

