@model CollegeQuizWeb.Dto.Home.SubscriptionPaymentDto

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-9">
            <div class="card px-5 py-5 h-100">
                <div class="row">
                    <div class="col-6">
                        <div class="forms-inputs mb-4">
                            <label>Imię</label>
                            <input type="text" value="@Model.FirstName" disabled>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="forms-inputs mb-4">
                            <label>Nazwisko</label>
                            <input type="text" value="@Model.LastName" disabled>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="forms-inputs mb-4">
                            <label>Email</label>
                            <input type="text" value="@Model.Email" disabled>
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="forms-inputs mb-4">
                            <label>Telefon</label>
                            <input asp-for="PhoneNumber" type="text">
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="forms-inputs mb-4">
                            <label>Państwo</label>
                            <input asp-for="Country" type="text">
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="forms-inputs mb-4">
                            <label>Województwo</label>
                            <input asp-for="State" type="text">
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="forms-inputs mb-4">
                            <label>Adres 1</label>
                            <input asp-for="Address1" type="text">
                        </div>
                    </div>
                    <div class="col-6 mt-2">
                        <div class="forms-inputs mb-4">
                            <label>Adres 2</label>
                            <input asp-for="Address2" type="text">
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <select class="form-select">
                            <option value="1">Dla siebie</option>
                            <option value="2">Jako prezent</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>