@model CollegeQuizWeb.Dto.Admin.AddUserDto  
<div class="row m-2">
            <div class="col-12 ">
                <div class="row m-2">

                    <div class="col-12 col-sm-6">
                        <div class="forms-inputs"> 
                            <div class="form-floating "> 
                                <input type="text" class="form-control" id="FirstName" autocomplete="off" asp-for="FirstName" placeholder="a">
                                <label for="FirstName">Imię</label>
                            </div>
                            <span class="mx-2 mt-1 errorTextColor" autocomplete="off" asp-validation-for="FirstName"></span>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="forms-inputs"> 
                            <div class="form-floating ">
                                <input type="text" class="form-control" id="LastName" autocomplete="off" asp-for="LastName"  placeholder="a">
                                <label for="LastName">Nazwisko</label>
                            </div>
                            <span class="mx-2 mt-1 errorTextColor" asp-validation-for="LastName"></span>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-12">
                        <div class="forms-inputs"> 
                            <div class="form-floating">
                                <input type="text"  class="form-control" id="Email" autocomplete="off" asp-for="Email" placeholder="a">
                                <label for="Email">Email</label>
                            </div>
                            <span class="mx-2 mt-1 errorTextColor" asp-validation-for="Email"></span>
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-12">
                        <div class="forms-inputs"> 
                            <div class="form-floating">
                                <input type="text"  class="form-control" id="Username" autocomplete="off" asp-for="Username" placeholder="a">
                                <label for="Username">Login</label>
                            </div>
                            <span class="mx-2 mt-1 errorTextColor" asp-validation-for="Username"></span>
                        </div>    
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col-12">
                        <div class="forms-inputs"> 
                            <div class="form-floating ">
                                <input type="text"  class="form-control" autocomplete="off" asp-for="Password" placeholder="a">
                                <label for="Password">Hasło</label> 
                            </div>
                             <span class="mx-2 mt-1 errorTextColor" asp-validation-for="Password"></span> 
                        </div>    
                    </div>
                    <label style="color:darkgray; margin-top:3px">*W przypadku pozostawienia pola hasła pustego użytkownik dostanie losowe hasło na maila</label>
                </div>
                <div class="row m-2">
                    <div class="col-12">
                        <div class="form-check form-switch">
                            <label class="form-check-label" 
                                   style="margin-top: 5px; margin-left: 10px; font-weight: bold; font-size:18px" 
                                   for="IsAccountActivated">Aktywowany</label>
                            <input class="form-check-input" style="height:30px; width:60px;" type="checkbox" 
                                   id="IsAccountActivated" asp-for="IsAccountActivated">
                        </div>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="float-end">
                        <button type="submit" class="btn btn-primary btn-lg float-end" name="senduser">Dodaj</button>
                    </div>
                </div>
            </div>
        </div>