<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CollegeQuizWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CollegeQuizWeb.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm list-border" >
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">QUIZAZU</a>
            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-xxl-inline-flex justify-content-between list-border">
                <ul class="navbar-nav flex-grow-1 justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link p-3" asp-area="" asp-controller="" asp-action="Index">STRONA GŁÓWNA</a>
                    </li>
                     <hr class="dropdown-divider m-0">
                     <li class="nav-item">
                         <a class="nav-link p-3" asp-area="" asp-controller="" >STWÓRZ QUIZ</a>
                     </li>
                      <hr class="dropdown-divider m-0">
                     <li class="nav-item">
                         <a class="nav-link p-3" asp-area="" asp-controller="" >DOŁĄCZ</a>
                     </li>
                      <hr class="dropdown-divider m-0">
                     <li class="nav-item">
                         <a class="nav-link p-3" asp-area="" asp-controller="Auth" asp-action="Login">ZALOGUJ</a>
                     </li>
                      <hr class="dropdown-divider m-0">
                    <li class="nav-item">
                        <a class="nav-link p-3 list-border" asp-area="" asp-controller="Auth" asp-action="Register">REJESTRACJA</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="footer">
    <div class="container-fluid text-center">
        &copy; 2023 - QUIZAZU - <a asp-area="" asp-controller="Home" asp-action="Regulation">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>