@using CollegeQuizWeb.Utils
@using Microsoft.AspNetCore.Http

<ul class="navbar-nav flex-grow-1 justify-content-end">
    <li class="nav-item">
        <a class="nav-link p-3" asp-area="" asp-controller="Home" asp-action="Sandbox">SB</a>
    </li>
    <li class="nav-item">
        <a class="nav-link p-3" asp-area="" asp-controller="Admin" asp-action="Index">AD</a>
    </li>
    <li class="nav-item">
        <a class="nav-link p-3" asp-area="" asp-controller="Auth" asp-action="LoginDEV">DL1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link p-3" asp-area="" asp-controller="Auth" asp-action="LoginDEV2">DL2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link p-3" asp-area="" asp-controller="Auth" asp-action="LoginDEV3">DL3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link p-3" asp-area="" asp-controller="" asp-action="Index">STRONA GŁÓWNA</a>
    </li>
    <hr class="dropdown-divider m-0">
    <li class="nav-item">
        <a class="nav-link p-3" asp-area="" asp-controller="Quiz" asp-action="AddQuiz">STWÓRZ QUIZ</a>
    </li>
    @if (Context.Session.GetString(SessionKey.IS_USER_LOGGED) == null)
    {
        <hr class="dropdown-divider m-0">
        <li class="nav-item">
            <a class="nav-link p-3" asp-area="" asp-controller="Auth" asp-action="Login">ZALOGUJ</a>
        </li>
        <hr class="dropdown-divider m-0">
        <li class="nav-item">
            <a class="nav-link p-3 list-border" asp-area="" asp-controller="Auth" asp-action="Register">REJESTRACJA</a>
        </li>
    }
    else
    {
        <hr class="dropdown-divider m-0">
        <li class="nav-item">
            <a class="nav-link p-3" asp-area="" asp-controller="Quiz" asp-action="QuizSession">DOŁĄCZ</a>
        </li>
        <hr class="dropdown-divider m-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle p-3 list-border" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @Context.Session.GetString(SessionKey.IS_USER_LOGGED) <i class="bi bi-person"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end rouded-options">

                <li list-border>
                    @if (Context.Session.GetString(SessionKey.IS_USER_ADMIN) == "True")
                    {
                        <a class="dropdown-item mt-1 top-context-item" asp-area="" asp-controller="Admin" asp-action="Index">
                            Panel administratora
                        </a>
                    }
                    <a class="dropdown-item mt-1 top-context-item" asp-area="" asp-controller="Quiz" asp-action="MyQuizes">
                        Moje quizy
                    </a>
                    <a class="dropdown-item mt-1 " asp-area="" asp-controller="User" asp-action="Index">
                        Profil użytkownika
                    </a>
                    <a class="dropdown-item mt-1 " asp-area="" asp-controller="SharedQuizes" asp-action="Share">
                        Udostępnij quiz
                    </a>
                    <a class="dropdown-item mt-1 " asp-area="" asp-controller="User" asp-action="AttemptCouponRedeem">
                        Zrealizuj kupon
                    </a>
                    <a class="dropdown-item mt-1 bottom-context-item" asp-area="" asp-controller="Auth" asp-action="Logout">
                        <i class="bi bi-box-arrow-left"></i> Wyloguj
                    </a>
                </li>
            </ul>
        </li>
    }
</ul>