@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CollegeQuizWeb.Dto.User.AttemptCouponRedeemDto

@{
    ViewData["Title"] = "Zrealizuj kupon";
}

<div class="container mt-5 mb-1">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-6 mb-5">
            <div class="card px-5 py-5 h-100" id="form1">
                @if (ViewBag.AlertMessage != null)
                {
                    <div class="alert @ViewBag.Type alert-dismissible fade show" role="alert">
                        @Html.Raw(ViewBag.AlertMessage)
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                @if (ViewBag.CouponMessage != null)
                {
                    <div class="alert @ViewBag.Type alert-dismissible fade show" role="alert">
                        @Html.Raw(ViewBag.CouponMessage)
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <form method="post" asp-action="AttemptCouponRedeem">
                    <div class="form-data">
                        <label id="mainName">Wykorzystaj swój kupon</label>
                        <div class="forms-inputs mb-4 mt-3">
                            <label for="loginOrEmail">Kupon</label>
                            <input type="text" id="loginOrEmail" asp-for="Coupon">
                            <i id="blinkingName" class='bx bxs-error-circle bx-flip-horizontal bx-burst'></i>
                            <span asp-validation-for="Coupon"></span>
                        </div>
                        <div class="mb-3">
                            <button class="btn-color-one w-100" type="submit">Odbierz</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
