@model CollegeQuizWeb.Dto.User.ProfileDto
@{
    ViewData["Title"] = "Profil użytkownika";
}

    <div class="container mt-5 mb-1">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-6 mb-5 user-profile">
            <div class="card px-5 py-5 h-100" id="form1">

                <label id="mainName">Edycja profilu użytkownika </label>
                <div class="container-fluid bg-profile">
                    <div class="row mt-4 mb-4">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-10">
                                        </div>
                                        <div class="col-2 ">
                                                <a class="btn button-link btn-color-one-short" type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Wyjdź" asp-controller="User" asp-action="Profile">
                                                <i class="bi bi-x"></i> </a>
                                        </div>
                                    </div>
                                    <div class="row mb-2 ">
                                        <div class="col-12">
                                            <b>Nazwa: </b><input type="text" class="form-control" id="UserName" asp-for="Username" placeholder="Nazwa">
                                        </div>
                                    </div>
                                    <div class="row mb-2 ">
                                        <div class="col-6">
                                            <b>Imię:</b> <input type="text" class="form-control" id="FirstName" asp-for="FirstName" placeholder="Imię">
                                        </div>
                                        <div class="col-6">
                                            <b>Nazwisko:</b><input type="text" class="form-control" id="LastName" asp-for="LastName" placeholder="Nazwisko">
                                        </div>
                                    </div>
                                    <div class="row mb-2 ">
                                        <div class="col-12">
                                            <b>Nowe Hasło:</b> <input type="text" class="form-control" id="NewPassword" asp-for="Password" placeholder="Nowe Hasło">
                                        </div>
                                    </div>
                                    <div class="row mb-4 ">
                                        <div class="col-12">
                                            <b>Aktualne Hasło:</b> <input type="text" class="form-control" id="Password" asp-for="Password" placeholder="Aktualne Hasło">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <a class="btn button-link btn-color-one-short" type="button"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Zapisz profil" asp-controller="User" asp-action="Profile">
                                <i class="bi bi-check"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
