<div class="container-fluid" style="max-width: 960px">
    <div class="row d-flex justify-content-center mt-5">
        <div class="card px-5 py-5 h-100">
            <label id="mainName">Płatność</label>
            <div class="row text-center justify-content-center">
                Mamy nadzieję, że Twoja transakcja przebiegła pomyślnie!<br/>
                Większość transakcji realizowana jest w czasie nie dłuższym niż 10 minut.<br/>
                Twój kod prezentowy pojawi się <a asp-action="YourCoupons">tutaj</a>.<br/>
                W przypadku problemów prosimy o kontakt.<br/>
            </div>
        </div>
    </div>
</div>