
@{
    ViewBag.Title = "Twoje kupony";
    Layout = "_Layout";
}

<div class="container-fluid" style="max-width: 960px">
    <div class="row d-flex justify-content-center mt-5">
        <div class="card px-5 py-5 h-100">
            <label id="mainName">Twoje kupony </label>

            <div class="row  bg-coupons">
                        
                <table class="table text-white text-center">
                    <tr>
                        <th class="d-none d-sm-table-cell">Kupon</th>
                        <th>Rodzaj</th>
                        <th class="d-none d-md-table-cell">Wygasa</th>
                        <th></th>
                    </tr>
                    @foreach (var element in ViewBag.CouponList)
                    {
                        <tr>
                            <td class="d-none d-sm-table-cell cp-cell">@element.Coupon</td>
                            <td>@element.TypeOfSubscription</td>
                            <td class="d-none d-md-table-cell">@element.ExpiringAt</td>
                            <td><i class="bi bi-clipboard copyButton"></i></td>
                        </tr>
                    }
                </table>
                <a class="pb-2 text-white" asp-area="" asp-controller="User" asp-action="AttemptCouponRedeem">
                    Zrealizuj kupon
                </a>
            </div>
        </div>
    </div>
</div>

<script>
$(".copyButton").click(function() {
    var code=$(this).parent().parent().find(".cp-cell").text()
    navigator.clipboard.writeText(code);
    new RetroNotify({
        contentHeader: 'Informacja',
        contentText: `Skopiowano kupon do schowka.`,
        style: 'black',
        animate: 'slideTopRight'
    });
} );
</script>


            