:root{
    --offcanvas-width: 300px;
    --topNavbarHeight:56px;
}

.sidebar{
    width: var( --offcanvas-width);
    top: var( --topNavbarHeight);
    height: calc(100% - var( --topNavbarHeight));
}

.sidecustomcolor{
    background-color: #272C31;
}

.admin-label{
    display: none;
}

@media (min-width:1050px){
    body{
        overflow: auto !important;
    }
    .offcanvas-backdrop::before{
        display: none;
    }
    .sidebar{
        transform: none;
        visibility: visible !important;
    }
    .side-btn{
        display:none;
    }
    
    .admin-label{
        display: inline;
    }

    #adm-main{
        margin-left: var( --offcanvas-width);
    }
}

.flex-container{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-content: stretch !important;
}

@media (max-width:478px){
    .flex-item{
        flex: 1 0 33%;
    }

  
    .flex-container > * {
        margin: 5px;
    }

    .page-num1{
        width: 50px !important;
    }

    .page-num2{
        width: 60px !important;
    }

    #usersPerPagePag, #quizsPerPagePag, #couponsPerPagePag{
        background-image: none;
        padding: 6px 8px;
    }
}

.sidebar-link .right-icon{
    display:inline-flex;
}

.sidebar-link[aria-expanded="true"] .right-icon{
    transform: rotate(90deg);
}

.dash-list .right-icon{
    display:inline-flex;
}
.dash-list[aria-expanded="false"] .right-icon{
    transform: rotate(270deg);
}

.sidebar_body::-webkit-scrollbar {
    width: 10px;
}

.viewBorder{
    border-style: solid ;
    border-radius: 25px;
    border-width: 1px;
}



/* Track */
.sidebar_body::-webkit-scrollbar-track {
    background: #272C31;
}

/* Handle */
.sidebar_body::-webkit-scrollbar-thumb {
    background: #212529;
}

/* Handle on hover */
.sidebar_body::-webkit-scrollbar-thumb:hover {
    background: #383d42;
}

.sidebar-link{
    color:#61757D !important;
}

.sidebar-link:hover{
    color:white !important;
}

.main-card{
    border-radius: 0 !important;
    border: none;
}

.main-card .card-header{
    background-color: rgba(0,0,0,0);
    /*border: none;*/
}

.custom-card-1{
    background: rgb(0,108,255) !important;
    background: linear-gradient(180deg, rgba(0,108,255,1) 0%, rgba(63,144,255,1) 100%) !important;    
}

.custom-card-2{
    background: rgb(52,191,52) !important;
    background: linear-gradient(180deg, rgba(52,191,52,1) 0%, rgba(0,207,0,1) 85%) !important;
}

.custom-card-3{
    background: rgb(242,165,0) !important;
    background: linear-gradient(180deg, rgba(242,165,0,1) 0%, rgba(255,174,0,1) 85%) !important;
}

.custom-card-4{
    background: rgb(226,0,0) !important;
    background: linear-gradient(180deg, rgba(226,0,0,1) 0%, rgba(255,0,0,1) 85%) !important;
}

.custom-card-5{
    background: rgb(139,0,224) !important;
    background: linear-gradient(180deg, rgba(139,0,224,1) 0%, rgba(158,0,255,1) 100%) !important;
}

.user-card{
    border-radius: 7px;
    border-width: 1px;
    border-style:solid;
    min-height: 50px;
    display:inline-block;
    box-sizing: border-box;

}

.user-car-header{
    font-size: 1.2rem;
    
}


.toast-top-right{
    position: absolute;
    top: 75px;
    right: 25px;
}

.toast-success{
    background: radial-gradient(ellipse at center, #2cc755 0, #119e36 100%);
    color: white;
    padding: 10px;
}

.errorTextColor {
    color: indianred;
}

.mid-button{
    border-radius: 0;
}

.right-button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.left-button{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.button-link{
    max-height: 38px !important;
}

.border-image {
    border: 2px solid #3a8a7f;
    width: 200px;
    padding: 5px !important;
    transition: .2s;
}

.offcanvas{
    z-index: 10 !important;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}