html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f7fef5;
    background-image: url(https://quizazu.cdn.miloszgilga.pl/static/gfx/home_graphic.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left 0 bottom 0;
}

.margin-hide-menu-top {
    margin-top: 150px;
}

/*
*Stylowanie navbar
*/
.navbar {
    background-color: #63c4ab;
    height: 90px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #aee5d4;
}

.dropdown-item:active {
    background-color: #63c4ab;
}
.list-border {
    border-radius: 0 0 25px 25px;
}

.rouded-options {
    border-radius: 25px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #f9fef8;
    margin-left: 20px;
    font-weight: bold;
    font-size: x-large;
}

.nav-link {
    color: #f9fef8;
    background-color: #63c4ab;
    font-size: large;
    border-bottom: 2px solid #63c4ab;
    border-top: 2px solid #63c4ab;
}

@media screen and (min-width: 992px) {
    .nav-link:not(:hover) {
        border-radius: 25px 25px 25px 25px;
    }
    .nav-link:hover {
        color: #f9fef8;
        border-bottom: 2px solid #aee5d4;
        border-top: 2px solid #aee5d4;
        border-radius: 25px 25px 25px 25px;
    }
}

@media screen and (max-width: 992px) {
    .navbar-collapse {
        max-height: calc(100vh - 100px);
        overflow-y: auto;
    }
    .navbar-collapse.collapsing {
        overflow-y: hidden;
    }
}

.nav-link:focus, .nav-link:hover {
    color: #19452e;
}

.navbar-collapse {
    z-index: 10 !important;
}

.dropdown-divider {
    border-color: #19452e !important;
    background-color: #19452e !important;
    opacity: 1;
}

/*
*Stylowanie stopki
 */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #D9FFF4;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #7CE3C8;
    color: #19452e;
}

.load-spinner {
    height: 120px;
}
.load-spinner-circle {
    width: 5rem;
    height: 5rem;
    color: #9acf8a;
}

.custom-green-color {
    color: #9acf8a;
}

.time-control {
    max-width: 150px;
}

.scrollable-container {
    overflow: auto;
    max-height: 723px;
}

.on-hover-darker i {
    transition: .2s;
}
.on-hover-darker:hover i {
    color: rgb(131, 31, 41) !important;
}
.on-hover-darker:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.on-hover-good-darker i {
    transition: .2s;
    color: #63c4ab;
}
.on-hover-good-darker:hover i {
    color: #3a8a7f !important;
}
.on-hover-good-darker:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.leaderboard-table-card {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.leaderboard-table-nav-container {
    width: 50px;
}
.leaderboard-toggle-button {
    background-color: #D9FFF4;
}
.leaderboard-toggle-button.active {
    background-color: #63c4ab;
}

.card-min-height {
    min-height: 500px;
}

.card-glass-effect {
    background-color: rgba(249, 254, 248, .8) !important;
}

.leaderboard-table-nav-button-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 250px;
    color: #63c4ab;
}
.leaderboard-toggle-button.active .leaderboard-table-nav-button-text {
    color: #f9fef8;
}

#toast-container {
    z-index: 999999;
}

.text-prim-color {
    color: #3a8a7f;
}
.background-primary-logo {
    background-color: #3a8a7f;
    border: 3px solid #19452e;
    border-radius: 5px;
    width: 60px;
    height: 60px;
}

.border-image,
.border-image.nohov {
    border: 2px solid #3a8a7f;
    width: 300px;
    padding: 5px !important;
}
.border-image {
    transition: .2s;
}
.border-image:hover {
    transform: translateY(-5px);
}
.border-image.nohov:hover {
    transform: none;
}
.danger-button-fixed {
    width: 100%;
    max-width: 250px;
}

/*
Stylowanie treści strony głównej
 */
.h1 {
    margin-top: 200px;
    color: #19452e;
}

.click-me {
    text-decoration: none;
    background-color: #63c4ab;
    color: #f9fef8 !important;
    font-size: x-large;
    width: 300px;
}
.click-me:hover {
    background-color: #3a8a7f;
    color: #f9fef8;
}

.click-me.darken {
    color: #f9fef8 !important;
    background-color: #3a8a7f;
}
.click-me.darken:hover {
    background-color: #63c4ab;
    color: #3a8a7f;
}

/*
 * Stylowanie interfejsu autoryzacji użytkownika
*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fbfbfb inset;
}

.bg-custom-4 {
    background-color: rgb(240, 240, 240);
}

.forms-inputs {
    position: relative;
}

.forms-inputs label {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #aee5d4;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 25px;
}

.forms-inputs i {
    position: absolute;
    top: 13px;
    right: 10px;
    padding: 5px 10px;
    font-size: 15px
}

.card {
    background-color: #f7fef5;
    border: 2px solid #63c4ab;
}
.card.trsp {
    background-color: rgba(247, 254, 245, .8);
}

.card-add {
    background-color: rgba(174, 229, 212, .2);
    border: 3px dashed #63c4ab;
    color: #63c4ab;
}

.color-random {
    transition: .2s;
}
.color-random:hover {
    transform: translateY(-7px);
}

@media screen and (max-width: 768px) {
    .card-resize {
        min-height: 150px;
        min-width: 100%;
    }
}

.time-image {
    min-width: 100px;
    max-width: 100px;
}
.time-text {
    position: absolute;
    top: 33px;
    left: 50%;
    color: #3a8a7f;
    font-size: 20px;
    transform: translateX(-50%);
}
.quiz-color-text {
    color: #3a8a7f;
}

.card-img-custom,
.card-img-custom-noanim {
    border: none;
    border-radius: 50px;
    transition: transform 0.2s;
}

.card-img-custom.clicked {
    transform: scale(0.85);
}

.card-img-custom:not(.clicked):not(.notClicked):hover {
    transform: scale(0.9);
}

.incorrectAnswer {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.cursor-not-allowed {
    cursor: not-allowed !important;
}

.button-card {
    width: 40px;
    height: 40px;
    align-content: end;
}

.btn-color-second-disabled {
    background-color: #c5c5c5;
    color: #252525;
    cursor: pointer;
}

.forms-inputs input {
    padding: 0 0 0 15px;
    height: 50px;
    border: 2px solid #63c4ab;
    width: 100%;
    border-radius: 15px 25px 25px 25px;
}

.editedSelect {
    padding: 0 0 0 15px !important;
    height: 50px !important;
    border: 2px solid #63c4ab !important;
    width: 100% !important;
    border-radius: 15px 25px 25px 25px !important;
}

select{
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right white;
    -webkit-appearance: none;
    background-position-x: 95%;
}

.editedSelect .dropdown-container:after {
    margin-right: 150px;
}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000
}
.btn-color-one-short{
    color: #19452e;
    background-color: #63c4ab;
    border: none;
}

.btn-color-one {
    height: 50px;
    color: #19452e;
    background-color: #63c4ab;
    border: none;
}

.btn-error-danger {
    height: 50px;
    pointer-events: none;
    background-color: transparent !important;
}

.btn-color-second {
    width: 250px;
    color: #f9fef8 !important;
    background-color: #3a8a7f;
}

.btn-std:disabled {
    opacity: .5;
}

.btn-color-second-short {
    color: #f9fef8 !important;
    background-color: #3a8a7f;
}

.btn-nobtn {
    cursor: default;
}

.btn-color-hover {
    border: 1px solid #19452e;
    width: 250px;
    color: #19452e !important;
}

.btn-color-second:hover {
    background-color: #63c4ab;
    color: #3a8a7f;
}

.click-me:hover {
    background-color: #3a8a7f;
    color: #f9fef8;
}

.btn-danger-glass {
    border: 2px solid rgba(220, 53, 69, .5);
    background-color: rgba(220, 53, 69, .5);
}
.btn-danger-glass:hover {
    border: 2px solid rgba(220, 53, 69, 1);
    background-color: transparent;
}
.btn-danger-glass-icon {
    color: white;
}
.btn-danger-glass:hover .btn-danger-glass-icon {
    color: rgba(220, 53, 69, 1);
}

.btn-color-one.fit-content {
    height: fit-content;
}

.btn-color-one:hover,
.btn-color-one-short:hover {
    background-color: #64B7A2;
}

.btn-color-two:hover {
    background-color: #C9EAE1;
}

.btn-color-two {
    height: 50px;
    color: #19452e;
    background-color: #D9FFF4;
    border: none;
}

.success-data {
    display: flex;
    flex-direction: column
}

.bxs-badge-check {
    font-size: 90px
}

.form-data {
    display: flex;
    flex-direction: column;
}

.success-data {
    display: flex;
}

.btn-light {
    background-color: rgb(214, 214, 214) !important;
}

.btn-light:hover {
    background-color: rgb(140, 140, 140) !important;
}

.btn-dark {
    background-color: rgb(72, 72, 72) !important;
    border-color: rgb(72, 72, 72) !important;
}

.btn-dark:hover {
    background-color: rgb(0, 0, 0) !important;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #19452e;
}

.question-progress-bar {
    position: relative;
    border-radius: 5px;
    height: 10px;
    background-color: #aee5d4;
}

.question-progress-bar-inner {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    transition: .3s;
    border-radius: 5px;
    background-color: #63c4ab;
}

.mainName {
    position: absolute;
    top: -23px;
    left: 25px;
    background-color: #f7fef5;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px 25px 25px 25px;
}

.mainName2 {
    position: absolute;
    top: -23px;
    left: 25px;
    background-color: #63c4ab;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 25px 25px 25px 25px;
    color: white;
}

.errorTextColor {
    color: indianred;
}

.form-check-input:checked[type=checkbox] {
    background-color: rgb(72, 72, 72);
    border: rgb(72, 72, 72);
    box-shadow: none;
}

.form-check-input-radio:checked[type=radio] {
    background-color: rgb(72, 72, 72);
    border: rgb(72, 72, 72);
    box-shadow: none;
}

.form-check-input[type=checkbox] {
    box-shadow: none;
    border-color: rgb(72, 72, 72);;
}

.top-context-item{
    border-radius: 10px 10px 0 0;
}

.bottom-context-item{
    border-radius: 0 0 13px 13px;
}

.toast-top-right{
    position: absolute;
    top: 75px;
    right: 25px;
}

.toast-success{
    background: radial-gradient(ellipse at center, #2cc755 0, #119e36 100%);
    color: white;
    padding: 10px;
}

.bg-profile{
    background-color: #aee5d4
}

.bg-coupons{
    background-color: #63C4AB
}

.leaderboard-container {
    min-height: 100px;
}
.leaderboard-container.small {
    min-height: 50px;
}

.leaderboard-container .leaderboard {
    border-radius: 25px;
}
.leaderboard-container.small .leaderboard {
    border-radius: 15px;
}

.leaderboard {
    background: rgba(174, 229, 212, 0.8);
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.streak{
    background: rgba(228, 236, 149, 0.8);
}

.custom-card-1{
    background-color: #ebffe5E6;
    border: 2px solid #9acf8a;
    border-radius: 5px;
}

.custom-card-d-1{
    background: #9acf8a !important;
    color: white;
    border: 0;
}

.custom-card-d-1:hover{
    background: #ebffe5 !important;
    color: #9acf8a;
    outline: 2px solid #9acf8a !important;
    outline-offset: -2px;
}

.custom-card-2{
    background-color: #b8fcdfE6;
    border: 2px solid #80d8b2;
    border-radius: 5px;
}

.custom-card-d-2{
    background: #80d8b2 !important;
    color: white;
    border: 0;
}

.custom-card-d-2:hover{
    background: #b8fcdf !important;
    color: #80d8b2;
    outline: 2px solid #80d8b2 !important;
    outline-offset: -2px;
}

.custom-card-3{
    background-color: #cbf0ebE6;
    border: 2px solid #6fb3ab;
    border-radius: 5px;
}

.custom-card-d-3{
    background: #6fb3ab !important;
    color: white;
    border: 0;
}

.custom-card-d-3:hover{
    background: #cbf0eb !important;
    color: #6fb3ab;
    outline: 2px solid #6fb3ab !important;
    outline-offset: -2px;
}

.custom-card-4{
    background-color: #ccfff9E6;
    border: 2px solid #87e4d9;
    border-radius: 5px;
}

.custom-card-d-4{
    background: #87e4d9 !important;
    color: white;
    border: 0;
}

.custom-card-d-4:hover{
    background: #ccfff9 !important;
    color: #87e4d9;
    outline: 2px solid #87e4d9 !important;
    outline-offset: -2px;
    
}

.custom-card-5{
    background-color: #dffffbE6;
    border: 2px solid #81d1c6;
    border-radius: 5px;
}

.custom-card-d-5{
    background: #81d1c6 !important;
    color: white;
    border: 0;
}

.custom-card-d-5:hover{
    background: #dffffb !important;
    color: #81d1c6;
    outline: 2px solid #81d1c6 !important;
    outline-offset: -2px;
}

.custom-card-6{
    background-color: #e0f7ffE6;
    border: 2px solid #80bdd5;
    border-radius: 5px;
}

.custom-card-d-6{
    background: #80bdd5 !important;
    color: white;
    border: 0;
}

.custom-card-d-6:hover{
    background: #e0f7ff !important;
    color: #80bdd5;
    outline: 2px solid #80bdd5 !important;
    outline-offset: -2px;
}

.custom-card-7{
    background-color: #c6e5faE6;
    border: 2px solid #79a8c9;
    border-radius: 5px;
}

.custom-card-d-7{
    background: #79a8c9 !important;
    color: white;
    border: 0;
}

.custom-card-d-7:hover{
    background: #c6e5fa !important;
    color: #79a8c9;
    outline: 2px solid #79a8c9 !important;
    outline-offset: -2px;
}


.subscription-cards{
    min-width: 100%;
}

@media (min-width: 992px) {
    .subscription-cards{
        padding-left: 70px;
        padding-right: 70px
    }
    
    
}

@media (max-width: 992px) {
    .user-profile{
        width: 75% !important;
    }
}

@media (max-width: 768px) {
    .user-profile{
        width: 100% !important;
    }
}

.mt-6{
    margin-top: 60px;
}

hr.hr-mid-green{
    border-top: 2px solid #63c4ab; 
    width:70%;
}

.icon-animation{
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.8);
    }
}

#slider-slow.noUi-state-tap .noUi-connect,
#slider-slow.noUi-state-tap .noUi-origin {
    -webkit-transition: transform 1600ms;
    transition: transform 1600ms;
}

.page-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1000px;
}

.page-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 24px;
    right: auto;
    height: 100%;
    width: 3px;
    background: #63c4ab;
    z-index: 0;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}

.page-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: #63c4ab;
    background: -webkit-linear-gradient(top, #63c4ab, rgba(52, 152, 219, 0));
    background: linear-gradient(to bottom, #63c4ab, rgba(52, 152, 219, 0));
    top: 100%;
    left: 24px;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}

.vtimeline-content {
    margin-left: 60px;
    background: #f7fef5;
    border: 1px solid #e6e6e6;
    padding: 35px 20px;
    border-radius: 3px;
    text-align: left;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}

.vtimeline-point {
    position: relative;
    display: block;
    vertical-align: top;
    margin-bottom: 30px;
}

.vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #63c4ab;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 50px;
    z-index: 99;

    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.3);
}

.vtimeline-icon i {
    display: block;
    font-size: 1.5em;
    line-height: 50px;

}

.timeline-image{
    max-height: 500px;
    width: auto;
    height: auto;
}

.session-icon{
    font-size: 50px;
    margin-top : 10px;
}

.session-icon2{
    font-size: 42px;
}

.buy {
    text-decoration: none;
    background-color: #63c4ab;
    color: #f9fef8 !important;
    font-size: x-large;
}
.buy:hover {
    background-color: #3a8a7f;
    color: #f9fef8;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

a:focus {
    outline: none !important;
    box-shadow: none !important;
}

