html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f7fef5;
    background-image: url(../home_graphic.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: left 0px bottom 63px;
}

/*
*Stylowanie navbar
*/
.navbar {
    background-color: #63c4ab;
    height: 90px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #aee5d4;
}

.list-border {
    border-radius: 0px 0px 25px 25px;
}

.rouded-options {
    border-radius: 25px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #f9fef8;
    margin-left: 20px;
    font-weight: bold;
    font-size: x-large;
}

.nav-link {
    color: #f9fef8;
    background-color: #63c4ab;
    font-size: large;
    border-bottom: 2px solid #63c4ab;
    border-top: 2px solid #63c4ab;
}

@media screen and (min-width: 992px) {
    .nav-link:hover {
        color: #f9fef8;
        border-bottom: 2px solid #aee5d4;
        border-top: 2px solid #aee5d4;
        border-radius: 25px 25px 25px 25px;
    }
}

@media screen and (min-width: 992px) {
    .nav-link:not(:hover) {
        border-radius: 25px 25px 25px 25px;
    }
}

.nav-link:focus, .nav-link:hover {
    color: #19452e;
}

.navbar-collapse {
    z-index: 10 !important;
}

.dropdown-divider {
    border-color: #19452e !important;
    background-color: #19452e !important;
    opacity: 1;
}

/*
*Stylowanie stopki
 */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #D9FFF4;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #7CE3C8;
    color: #19452e;
}

/*
Stylowanie treści strony głównej
 */
.h1 {
    margin-top: 200px;
    color: #19452e;
}

.click-me {
    text-decoration: none;
    background-color: #128e58;
    color: #f9fef8;
    font-size: x-large;
    width: 300px;
}

.click-me:hover {
    background-color: #4dce96;
    color: #f9fef8;

}

/*
 * Stylowanie interfejsu autoryzacji użytkownika
*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fbfbfb inset;
}

.bg-custom-4 {
    background-color: rgb(240, 240, 240);
}

.forms-inputs {
    position: relative;
}

.forms-inputs label {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: rgb(252, 252, 252);
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 25px;
}

.forms-inputs i {
    position: absolute;
    top: 13px;
    right: 10px;
    padding: 5px 10px;
    font-size: 15px
}

.card {
    background-color: #f7fef5;
    border: 2px solid #63c4ab;
}

.card-add {
    background-color: #63c4ab;
}

@media screen and (max-width: 576px) {
    .card-resize {
        min-width: 450px;
        min-height: 120px;
    }
}

.button-card {
    width: 40px;
    height: 40px;
    align-content: end;
}

.forms-inputs input {
    padding: 0px 0px 0px 15px;
    height: 50px;
    border: 2px solid rgb(238, 238, 238);
    width: 100%;
    border-radius: 15px 25px 25px 25px;
}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000
}

.btn-color-one {
    height: 50px;
    color: #19452e;
    background-color: #63c4ab;
    border: none;
}

.btn-color-one:hover {
    background-color: #64B7A2;
}

.btn-color-two:hover {
    background-color: #C9EAE1;
}

.btn-color-two {
    height: 50px;
    color: #19452e;
    background-color: #D9FFF4;
    border: none;
}

.success-data {
    display: flex;
    flex-direction: column
}

.bxs-badge-check {
    font-size: 90px
}

.form-data {
    display: flex;
    flex-direction: column;
}

.success-data {
    display: flex;
}

.btn-light {
    background-color: rgb(214, 214, 214) !important;
}

.btn-light:hover {
    background-color: rgb(140, 140, 140) !important;
}

.btn-dark {
    background-color: rgb(72, 72, 72) !important;
    border-color: rgb(72, 72, 72) !important;
}

.btn-dark:hover {
    background-color: rgb(0, 0, 0) !important;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #19452e;
}

#mainName {
    position: absolute;
    top: -23px;
    left: 25px;
    background-color: #f7fef5;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px 25px 25px 25px;
}

.errorTextColor {
    color: indianred;
}

.form-check-input:checked[type=checkbox] {
    background-color: rgb(72, 72, 72);
    border: rgb(72, 72, 72);
    box-shadow: none;
}

.form-check-input[type=checkbox] {
    box-shadow: none;
    border-color: rgb(72, 72, 72);;
}

.top-context-item{
    border-radius: 9px 9px 0 0;
}

.bottom-context-item{
    border-radius: 0 0 13px 13px;
}