html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f7fef5;
    background-image: url(../home_graphic.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: left 0 bottom 63px;
}

/*
*Stylowanie navbar
*/
.navbar {
    background-color: #63c4ab;
    height: 90px;
    border-bottom-width: 10px;
    border-bottom-style: solid;
    border-bottom-color: #aee5d4;
}

.list-border {
    border-radius: 0 0 25px 25px;
}

.rouded-options {
    border-radius: 25px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #f9fef8;
    margin-left: 20px;
    font-weight: bold;
    font-size: x-large;
}

.nav-link {
    color: #f9fef8;
    background-color: #63c4ab;
    font-size: large;
    border-bottom: 2px solid #63c4ab;
    border-top: 2px solid #63c4ab;
}

@media screen and (min-width: 992px) {
    .nav-link:not(:hover) {
        border-radius: 25px 25px 25px 25px;
    }
    .nav-link:hover {
        color: #f9fef8;
        border-bottom: 2px solid #aee5d4;
        border-top: 2px solid #aee5d4;
        border-radius: 25px 25px 25px 25px;
    }
}

@media screen and (max-width: 992px) {
    .navbar-collapse {
        max-height: calc(100vh - 100px);
        overflow-y: auto;
    }
    .navbar-collapse.collapsing {
        overflow-y: hidden;
    }
}

.nav-link:focus, .nav-link:hover {
    color: #19452e;
}

.navbar-collapse {
    z-index: 10 !important;
}

.dropdown-divider {
    border-color: #19452e !important;
    background-color: #19452e !important;
    opacity: 1;
}

/*
*Stylowanie stopki
 */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #D9FFF4;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #7CE3C8;
    color: #19452e;
}

.load-spinner {
    height: 120px;
}
.load-spinner-circle {
    width: 5rem;
    height: 5rem;
    color: #3a8a7f;
}

.time-control {
    max-width: 150px;
}

#toast-container {
    z-index: 999999;
}

.text-prim-color {
    color: #3a8a7f;
}

.border-image {
    border: 2px solid #3a8a7f;
    width: 200px;
    padding: 5px !important;
    transition: .2s;
}
.border-image:hover {
    transform: translateY(-5px);
}

/*
Stylowanie treści strony głównej
 */
.h1 {
    margin-top: 200px;
    color: #19452e;
}

.click-me {
    text-decoration: none;
    background-color: #63c4ab;
    color: #f9fef8 !important;
    font-size: x-large;
    width: 300px;
}
.click-me:hover {
    background-color: #3a8a7f;
    color: #f9fef8;
}

.click-me.darken {
    color: #f9fef8 !important;
    background-color: #3a8a7f;
}
.click-me.darken:hover {
    background-color: #63c4ab;
    color: #3a8a7f;
}

/*
 * Stylowanie interfejsu autoryzacji użytkownika
*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fbfbfb inset;
}

.bg-custom-4 {
    background-color: rgb(240, 240, 240);
}

.forms-inputs {
    position: relative;
}

.forms-inputs label {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #aee5d4;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 25px;
}

.forms-inputs i {
    position: absolute;
    top: 13px;
    right: 10px;
    padding: 5px 10px;
    font-size: 15px
}

.card {
    background-color: #f7fef5;
    border: 2px solid #63c4ab;
}

.card-add {
    background-color: rgba(174, 229, 212, .2);
    border: 3px dashed #63c4ab;
    color: #63c4ab;
}

.color-random {
    transition: .2s;
}
.color-random:hover {
    transform: translateY(-7px);
}

@media screen and (max-width: 576px) {
    .card-resize {
        min-height: 150px;
        min-width: 100%;
    }
}

.card-img-custom {
    border: none;
    border-radius: 50px;
    transition: transform 0.2s;
}

.card-img-custom.clicked {
    transform: scale(0.85);
}

.card-img-custom:not(.clicked):not(.notClicked):hover {
    transform: scale(0.9);
}

.incorrectAnswer {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.cursor-not-allowed{
    cursor: not-allowed !important;
}

.button-card {
    width: 40px;
    height: 40px;
    align-content: end;
}

.forms-inputs input {
    padding: 0 0 0 15px;
    height: 50px;
    border: 2px solid #63c4ab;
    width: 100%;
    border-radius: 15px 25px 25px 25px;
}

.editedSelect {
    padding: 0 0 0 15px !important;
    height: 50px !important;
    border: 2px solid #63c4ab !important;
    width: 100% !important;
    border-radius: 15px 25px 25px 25px !important;
}

select{
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right white;
    -webkit-appearance: none;
    background-position-x: 95%;
}

.editedSelect .dropdown-container:after {
    margin-right: 150px;
}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000
}
.btn-color-one-short{
    color: #19452e;
    background-color: #63c4ab;
    border: none;
}


.btn-color-one {
    height: 50px;
    color: #19452e;
    background-color: #63c4ab;
    border: none;
}

.btn-color-second {
    width: 250px;
    color: #f9fef8 !important;
    background-color: #3a8a7f;
}

.btn-color-hover {
    border: 1px solid #19452e;
    width: 250px;
    color: #19452e !important;
}

.btn-color-second:hover {
    background-color: #63c4ab;
    color: #3a8a7f;
}

.click-me:hover {
    background-color: #3a8a7f;
    color: #f9fef8;
}

.btn-danger-glass {
    border: 2px solid rgba(220, 53, 69, .5);
    background-color: rgba(220, 53, 69, .5);
}
.btn-danger-glass:hover {
    border: 2px solid rgba(220, 53, 69, 1);
    background-color: transparent;
}
.btn-danger-glass-icon {
    color: white;
}
.btn-danger-glass:hover .btn-danger-glass-icon {
    color: rgba(220, 53, 69, 1);
}

.btn-color-one.fit-content {
    height: fit-content;
}

.btn-color-one:hover,
.btn-color-one-short:hover {
    background-color: #64B7A2;
}

.btn-color-two:hover {
    background-color: #C9EAE1;
}

.btn-color-two {
    height: 50px;
    color: #19452e;
    background-color: #D9FFF4;
    border: none;
}

.success-data {
    display: flex;
    flex-direction: column
}

.bxs-badge-check {
    font-size: 90px
}

.form-data {
    display: flex;
    flex-direction: column;
}

.success-data {
    display: flex;
}

.btn-light {
    background-color: rgb(214, 214, 214) !important;
}

.btn-light:hover {
    background-color: rgb(140, 140, 140) !important;
}

.btn-dark {
    background-color: rgb(72, 72, 72) !important;
    border-color: rgb(72, 72, 72) !important;
}

.btn-dark:hover {
    background-color: rgb(0, 0, 0) !important;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #19452e;
}

#mainName {
    position: absolute;
    top: -23px;
    left: 25px;
    background-color: #f7fef5;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 15px 25px 25px 25px;
}

#mainName2 {
    position: absolute;
    top: -23px;
    left: 25px;
    background-color: #63c4ab;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 25px 25px 25px 25px;
    color: white;
}

.errorTextColor {
    color: indianred;
}

.form-check-input:checked[type=checkbox] {
    background-color: rgb(72, 72, 72);
    border: rgb(72, 72, 72);
    box-shadow: none;
}

.form-check-input-radio:checked[type=radio] {
    background-color: rgb(72, 72, 72);
    border: rgb(72, 72, 72);
    box-shadow: none;
}

.form-check-input[type=checkbox] {
    box-shadow: none;
    border-color: rgb(72, 72, 72);;
}

.top-context-item{
    border-radius: 10px 10px 0 0;
}

.bottom-context-item{
    border-radius: 0 0 13px 13px;
}

.toast-top-right{
    position: absolute;
    top: 75px;
    right: 25px;
}

.toast-success{
    background: radial-gradient(ellipse at center, #2cc755 0, #119e36 100%);
    color: white;
    padding: 10px;
}

.bg-profile{
    background-color: #aee5d4
}

.bg-coupons{
    background-color: #63C4AB
}

.leaderboard{
    background: #aee5d4;
    border-radius: 25px;
    height: 100px;
}

.leaderboard.colors-leaderboard:nth-child(1){
    background: #1fd2e6;
}

.leaderboard.colors-leaderboard:nth-child(2){
    background: #29e4c5;
}

.leaderboard.colors-leaderboard:nth-child(3){
    background: #55e5a0;
}

.leaderboard.colors-leaderboard:nth-child(4){
    background: #bbf5cd;
}

.leaderboard.colors-leaderboard:nth-child(5){
    background: #bbf5cd;
}

.leaderboard.streak{
    background: #e4ec95;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slideInDown {
    from {
        transform: translateY(calc(100vh - 100px));
    }

    to {
        transform: translateY(0%);
    }
}

.animate-left {
    animation-name: slideInLeft;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.animate-down {
    animation-name: slideInDown;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.custom-card-1{
    background-color: #ebffe5E6;
    border: 2px solid #9acf8a;
    border-radius: 5px;
}

.custom-card-d-1{
    background: #9acf8a !important;
    color: white;
    border: 0;
}

.custom-card-d-1:hover{
    background: #ebffe5 !important;
    color: #9acf8a;
    outline: 2px solid #9acf8a !important;
    outline-offset: -2px;
}

.custom-card-2{
    background-color: #b8fcdfE6;
    border: 2px solid #80d8b2;
    border-radius: 5px;
}

.custom-card-d-2{
    background: #80d8b2 !important;
    color: white;
    border: 0;
}

.custom-card-d-2:hover{
    background: #b8fcdf !important;
    color: #80d8b2;
    outline: 2px solid #80d8b2 !important;
    outline-offset: -2px;
}

.custom-card-3{
    background-color: #cbf0ebE6;
    border: 2px solid #6fb3ab;
    border-radius: 5px;
}

.custom-card-d-3{
    background: #6fb3ab !important;
    color: white;
    border: 0;
}

.custom-card-d-3:hover{
    background: #cbf0eb !important;
    color: #6fb3ab;
    outline: 2px solid #6fb3ab !important;
    outline-offset: -2px;
}

.custom-card-4{
    background-color: #ccfff9E6;
    border: 2px solid #87e4d9;
    border-radius: 5px;
}

.custom-card-d-4{
    background: #87e4d9 !important;
    color: white;
    border: 0;
}

.custom-card-d-4:hover{
    background: #ccfff9 !important;
    color: #87e4d9;
    outline: 2px solid #87e4d9 !important;
    outline-offset: -2px;
    
}

.custom-card-5{
    background-color: #dffffbE6;
    border: 2px solid #81d1c6;
    border-radius: 5px;
}

.custom-card-d-5{
    background: #81d1c6 !important;
    color: white;
    border: 0;
}

.custom-card-d-5:hover{
    background: #dffffb !important;
    color: #81d1c6;
    outline: 2px solid #81d1c6 !important;
    outline-offset: -2px;
}

.custom-card-6{
    background-color: #e0f7ffE6;
    border: 2px solid #80bdd5;
    border-radius: 5px;
}

.custom-card-d-6{
    background: #80bdd5 !important;
    color: white;
    border: 0;
}

.custom-card-d-6:hover{
    background: #e0f7ff !important;
    color: #80bdd5;
    outline: 2px solid #80bdd5 !important;
    outline-offset: -2px;
}

.custom-card-7{
    background-color: #c6e5faE6;
    border: 2px solid #79a8c9;
    border-radius: 5px;
}

.custom-card-d-7{
    background: #79a8c9 !important;
    color: white;
    border: 0;
}

.custom-card-d-7:hover{
    background: #c6e5fa !important;
    color: #79a8c9;
    outline: 2px solid #79a8c9 !important;
    outline-offset: -2px;
}


.subscription-cards{
    min-width: 100%;
}

@media (min-width: 992px) {
    .subscription-cards{
        padding-left: 70px;
        padding-right: 70px
    }
    
    
}

@media (max-width: 992px) {
    .user-profile{
        width: 75% !important;
    }
}

@media (max-width: 768px) {
    .user-profile{
        width: 100% !important;
    }
}

.mt-6{
    margin-top: 60px;
}