@{
    ViewData["Title"] = "Dołącz do quizu";
    Layout = "_InGameLayout";
}

<div class="position-relative">
    <div id="react-loadable-spinner-content"
        class="position-absolute d-flex justify-content-center align-content-center w-100 load-spinner">
        <div class="spinner-border load-spinner-circle mt-4" role="status"></div>
    </div>
    <div id="quiz-session-embed-content"></div>
</div>

<script src="/js/bundles/quizSessionRenderer.js"></script>

<script>
    window.onbeforeunload = function() {
        return "Czy na pewno chcesz przeładować stronę? Zapisane dane zostaną bezpowrotnie utracone!";
    };
</script>
