@{
    ViewData["Title"] = "Dołącz do quizu";
}

<div class="position-relative">
    <div id="react-loadable-spinner-content"
         class="position-absolute d-flex justify-content-center align-content-center w-100 load-spinner">
        <div class="spinner-border load-spinner-circle mt-4" role="status"></div>
    </div>
    <div id="quizSessionRoot"></div>
</div>
<script type="module" src="@Url.Content("~/js/react/QuizSession.jsx")"></script>

<script lang="js">
    window.onbeforeunload = function() {
        return "Czy na pewno chcesz przeładować stronę? Zapisane dane zostaną bezpowrotnie utracone!";
    };
</script>