@{
    ViewData["Title"] = "Poczekalnia do quizu";
}

<div class="position-relative">
    <div id="react-loadable-spinner-content"
        class="position-absolute d-flex justify-content-center align-content-center w-100 load-spinner">
        <div class="spinner-border load-spinner-circle mt-4" role="status"></div>
    </div>
    <div id="quizManagerRoot"></div>
</div>

<div id="inject-qr-code-blob" style="display: none; !important;">@ViewBag.ImageBtm</div>
<div id="inject-sess-code" style="display: none; !important;">@ViewBag.Code</div>
<div id="inject-quiz-name" style="display: none; !important;">@ViewBag.QuizName</div>

<script type="module" src="@Url.Content("~/js/react/QuizManager.jsx")"></script>

<script lang="js">
    window.onbeforeunload = function() {
        return "Czy na pewno chcesz przeładować stronę? Niezapisane dane zostaną bezpowrotnie utracone!";
    };
</script>