@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CollegeQuizWeb.Dto.ChangePassword.ChangePasswordDto
@{
    ViewData["Title"] = "Zmień hasło";
}

<div class="container mt-5 mb-1">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-6 mb-5">
            @if (ViewBag.DisableChangePasswordView != null && ViewBag.DisableChangePasswordView)
            {
                <div class="alert alert-danger" role="alert">
                    Podany token nie istnieje, wygasł bądź został już wykorzystany. Aby wygenerować nowy token
                    <a class="alert-link" asp-action="AttemptChangePassword" asp-controller="Auth">przejdź pod ten link</a>.
                </div>
            }
            else
            {
                <div class="card px-5 py-5 h-100" id="form1">
                    @if (ViewBag.AlertMessage != null)
                    {
                        <div class="alert @ViewBag.Type alert-dismissible fade show" role="alert">
                            @Html.Raw(ViewBag.AlertMessage)
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form method="post" asp-action="ChangePassword" asp-route-token="@ViewBag.Token">
                        <div class="form-data">
                            <label id="mainName">Zmień hasło</label>
                            <div class="forms-inputs mb-4">
                                <label for="newPassword">Nowe hasło</label>
                                <input type="password" id="newPassword" asp-for="NewPassword">
                                <i id="blinkingNewPassword" class='bx bxs-error-circle bx-flip-horizontal bx-burst'></i>
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="forms-inputs mb-4">
                                <label for="repeatNewPassword">Powtórz nowe hasło</label>
                                <input type="password" id="repeatNewPassword" asp-for="RepeatNewPassword">
                                <i id="blinkingRepeatNewPassword" class='bx bxs-error-circle bx-flip-horizontal bx-burst'></i>
                                <span asp-validation-for="RepeatNewPassword"></span>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-dark w-100" type="submit">Zmień hasło</button>
                            </div>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</div>