@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CollegeQuizWeb.Entities.UserEntity
@{
    ViewData["Title"] = "Registration Page";
}

<div class="container mt-5 mb-1">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-12 col-md-6 mb-5">
            <div class="card px-5 py-5 h-100" id="form1">
                <form method="post" asp-action="Register">
                    <div class="form-data" id="registerFields">
                        <label id="mainName"> Rejestracja </label>
                        <div class="forms-inputs mb-4">
                            <span id="nameSpan">Imię</span>
                            <input type="text" name="first_name" asp-for="FirstName" autocomplete="on">
                            <i id="blinkingName" class='bx bxs-error-circle bx-flip-horizontal bx-burst'></i>
                            <span asp-validation-for="FirstName"></span>
                        </div>

                        <div class="forms-inputs mb-4">
                            <span id="surnameSpan">Nazwisko</span>
                            <input type="text" name="surname" asp-for="LastName">

                            <i id="blinkingSurname" class='bx bxs-error-circle bx-flip-horizontal bx-burst'></i>
                            <span asp-validation-for="LastName"></span>
                        </div>

                        <div class="forms-inputs mb-4">
                            <span id="loginSpan">Login</span>
                            <input type="text" name="login" asp-for="Username">

                            <i id="blinkingLogin" class='bx bxs-error-circle bx-flip-horizontal bx-burst'></i>
                            <span asp-validation-for="Username"></span>
                        </div>

                        <div class="forms-inputs mb-4">
                            <span id="passwordSpan">Hasło</span>
                            <input type="password" name="password" asp-for="Password">

                            <i id="blinkingPassword" class='bx bxs-error-circle bx-flip-horizontal bx-burst'></i>
                            <span asp-validation-for="Password"></span>
                        </div>

                        <div class="forms-inputs mb-4">
                            <span id="emailSpan">Email</span>
                            <input type="text" name="email" asp-for="Email">

                            <i id="blinkingEmail" class='bx bxs-error-circle bx-flip-horizontal bx-burst'></i>
                            <span asp-validation-for="Email"></span>
                        </div>

                        <div class="mb-3">
                            <button class="btn btn-dark w-100" name="registerSubmit" type="submit">Rejestracja</button>
                        </div>
                        <div>
                            <button class="btn btn-light w-100" onclick="moveToLogin()">Mam już konto</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>